* {
  margin: 0px;
  padding: 0px;
}

:root {
  --white: #ffffff;
  --main: #1c2433;
  --main2: #25334d;
  --main3: #243657;

  --highlight: #274a8d;
  --accent: #155ada;
}

@font-face {
  font-family: rubik;
  src: url(../assets/font/rubik/Rubik-VariableFont_wght.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

/* The Container  */
.container {
  width: 100%;
  max-width: 700px;
  height: 70%;
  margin: 10px 0px 0px 0px;
  background: linear-gradient(var(--main3), var(--main2), var(--main));

  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-wrapper {
  width: 80%;
  height: 90%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* The Random Cities  */
.random-cities {
  display: flex;
  list-style: none;
  margin: 30px 0px 25px 0px;
}

.random-cities li {
  text-transform: capitalize;
  padding: 0px 5px;
  margin-inline: 10px;
  box-shadow: inset 0px -10px transparent;
  cursor: pointer;
  font-family: rubik;
  font-weight: 500;
  color: snow;
  font-size: 1rem;
  letter-spacing: -1px;
  transition: all 0.3s ease-in-out;
}

.random-cities li:hover {
  box-shadow: inset 0px -10px var(--accent);
  /* color: var(--accent); */
  transform: scale(1.2);
}

/* The Input Section  */
.input-section {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  gap: 1rem;
}

.input-section svg {
  width: 100%;
  height: 100%;
  fill: var(--accent);
  cursor: pointer;
}
.input-section svg:hover {
  opacity: 0.8;
  fill: var(--accent);
}
.input-section input {
  height: 100%;
  outline: none;
  padding: 0px 0px 0px 10px;
  border: none;
  box-shadow: 0px 0px 20px rgb(0 0 0 /0.5);
  font-family: rubik;
  letter-spacing: 1px;
  text-transform: capitalize;
  background: snow;
  border-radius: 2px;
}

/* Weather Display  */
.weather-display {
  width: 100%;
  height: auto;
  margin: 20px 0px;
  /* background: lightblue; */
  color: snow;
}

/* city dateNtime */
.city-dateNtime {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 10px 0px 25px 0px;
  font-family: rubik;
  text-transform: capitalize;
}

/* City Details  */
.city-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  gap: 1.5rem;
  font-family: rubik;
  padding: 0px 0px 15px 0px;
}

.city-details h1 {
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  animation: example 5s ease-in-out infinite;
}

@keyframes example {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 6;
    color: var(--accent);
  }
}

.city-details span {
  color: #155ada;
  text-transform: capitalize;
  font-weight: 500;
}

/* Weather Details  */
.weather-details {
  width: 100%;
  height: auto;
  /* background: var(--accent); */
  font-family: rubik;
}

.weather-summary {
  width: 100%;
  height: 110px;
  padding: 0px 0px 15px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.summary {
  width: 100%;
  height: 100%;
  /* background: var(--main); */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* summary Icon  */
.summary img {
  width: 7rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.summary img:hover {
  transform: scale(1.2);
}

/* summary Degree  */
.summary .degree {
  font-size: 3.5rem;
  letter-spacing: 5px;
  color: snow;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.summary .degree:hover {
  opacity: 0.5;
  transform: scale(1.2);
}

.degree span {
  color: var(--accent);
}

/* summary Stats */
.summary .stats {
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.summary .stats:hover {
  transform: scale(1.2);
}

.stats li {
  text-transform: capitalize;
  font-weight: 300;
  color: snow;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 5px 0px;
  font-size: 0.9rem;
}

.stats li svg {
  fill: snow;
  padding-right: 5px;
  width: 1.2rem;
}

.stats li span {
  color: var(--accent);
  font-weight: 500;
  padding-left: 5px;
}

/* weather Timestamp */
.weather-timestamp {
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.weather-timestamp li {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.weather-timestamp li:hover {
  transform: scale(1.2);
}

.weather-timestamp li svg {
  width: 1.2rem;
  padding-right: 5px;
  fill: var(--accent);
}

/* Weather Forecast  */
.weather-forecast {
    padding: 10px 0px;
    width: 100%;
    height: auto;
    display: none;
}

.weather-forecast.Daliy {
    margin: 0px 0px 10px 0px;
}


.forecast-header {
    padding: 0px 0px 15px 0px;
    width: 100%;
    color: snow;
    height: auto;
    font-family: rubik;
    letter-spacing: .3px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: inset 0px -2px snow;
    cursor: pointer;
}

.forecast {
    margin: 10px 0px;
    width: 100%;
    height: 100px;
    /* background: var(--highlight); */
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}



.forecast .forecast-item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* background: var(--main); */

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
    font-family: rubik;
    color: snow;
    transition: all .3s ease-in-out;
}

.forecast .forecast-item:hover {
    transform: scale(1.1);
}

.forecast-item .forecast-time {
    font-weight: 400;
    text-transform: capitalize;
}

.forecast-item img {
    width: 3rem;
    height: auto;
    animation: zoom 10s ease-in-out infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.3);
    }
    40% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1.3);
    }
    80% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.forecast-item .forecast-degree span,
.forecast-item .forecast-time span {
    color: var(--accent);
    font-weight: 400;
}

@media (max-width:650px) {
  .random-cities li {
    font-size: .9;
  }
  .random-cities li:nth-child(5) {
    display: none;
  }
  .random-cities li:nth-child(4) {
    display: none;
  }

  .weather-timestamp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .divider {
    display: none;
  }
  .summary img {
    width: 5rem;
  }

  .city-dateNtime{
    font-size: .9rem;
  }
  .container-wrapper{
    height: 100%;
}
